@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background: #BBB;
    padding: 20px 0;


}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin-left: 15px;
}

nav a {
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}

nav a:hover {
    color: rgb(243, 221, 99);
    text-decoration: underline;
    transition: 0.5s;
}


main{
    width: 940px;
    margin: 0 auto;
}












footer {
    text-align: center;
    background: url("/img/bg.jpg");
    padding: 40px 0;

}

.copyright {
    color: #BBB;
    font-size: 13px;
    margin-top: 20px;
}