@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

/* header que todos possuem */
body {
   font-family: 'Montserrat', sans-serif;
}
header{
    background: #BBB;
    padding: 20px 0;


}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top:110px;
    right: 0;
}
nav li{
    display: inline;
    margin-left: 15px;
}
nav a {
    text-transform: uppercase;
    color:#000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}
nav a:hover{
    color: rgb(243, 221, 99);
    text-decoration: underline;
    transition: 0.5s;
}

/* estilização da pagina home */
.banner{
    width:100%;
}
.principal{
    padding: 3em 0;
    background:#FEFEFE;
    width: 940px;
    margin: 0 auto;
}
.titulo-principal{
    text-align:center;
    font-size: 2em;
    margin-bottom: 1em ; /* ou margin: 0 0 1em; */
    clear: left ;
}
.principal p{
     margin-bottom: 1em ;
}
.principal em{
    font-style: italic;
    
}
.principal strong{
    font-weight: bold;

}

.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

#missao{
    text-align: center;
    font-size:20px;
}

.mapa{
    padding: 3em 0;
    width: 940px;
    margin: 0 auto;
}
.mapa p{
    margin-bottom: 2em;
    text-align: center;
}
.beneficios{
    background: #888;
    padding: 3em 0;

}

.conteudo-beneficios{
    width: 640px;
    margin: 0 auto;
}
.itens{
    line-height: 1.5;    
}
.itens:first-child{
    font-weight: bold;
}
.lista-itens {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    
}

.imagembeneficios{
    width: 60%;
}
.video{
     width:560px;
     height:315px;
     margin:2em auto;
}
/* estilização da pagina produtos */
.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%; 
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 0;
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 10px;
    
}
.produtos li:hover{
    border-color: rgb(243, 221, 99);
    transition: 0.5s;
}
.produtos li:active {
    border-color: rgb(99, 243, 99);
    transition: 0.5s;
}
.produtos li:hover h2{
   font-size: 35px;
}
.produtos h2{
    font-size: 30px;
    font-weight: bold;
}
.descricao-produto {
    font-size: 18px;
}
.preco-produto{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;

}
/* estilização da pagina contato */
form{
    width: 940px;
    margin: 3em auto;
}
form label, form legend {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}
.input-padrao{
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 50%;
    color: #000;
}
.checkbox{
    margin: 20px 0;
}
.enviar {
    width: 40%;
    padding: 15px 0;
    background-color: orange;
    color:white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.enviar:hover{
    background-color: darkorange;
    transition: 1s ;
    transform: scale(1.1);
}

table{
    margin:3em 18em;
   
}
thead{
    background: rgb(59, 59, 59);
    color: white;
    font-weight: bold;
}
td,th{
    border: 1px solid black;
    padding: 9px 16px;
}

/* rodape */
footer {
    text-align: center;
    background: url("/img/bg.jpg");
    padding: 40px 0;

}

.copyright {
    color: #BBB;
    font-size: 13px;
    margin-top: 20px;
}